.designProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    padding: 2em;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    padding: 2em;
  }
  .profileRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
  }
  .updateBoton {
    height: 2em;
    width: 8em;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: lightsteelblue;
    color: hsl(0, 0%, 30%);
  
    border-radius: 0.2em;
    cursor: pointer;
  }
  .buttonFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
  }
  .updateBoton:hover {
    color: lightsteelblue;
    background-color: hsl(0, 0%, 30%);
    border-radius: 0.2em;
  }
  body {
    background-color: beige
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    min-height: 50vh;
    margin: 1em;
    background-color: rgb(23, 69, 194);
    color: white;
    padding: 1em;
    -webkit-box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.51);
    box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.51);
    border-radius: 1em;
  }
