.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    background-color: rgb(116, 246, 9);

    height: 70vh;
    width: 100vw;
}
.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;

    height: 70vh;
    width: 100vw;

    background-color: rgb(116, 246, 9);
}

.father{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   
    background-color: rgb(116, 246, 9);

    height: 74vh;
    width: 100vw;

    border-color: black;
    border-style: solid;
    border-radius: 1em;
}
.row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   
    background-color: rgb(116, 246, 9);

    height: 6em;
    width: 40em;

}
.row2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   
    background-color: rgb(116, 246, 9);

    height: 6em;
    width: 40em;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6em;
    width: 15em;
}
.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6em;
    width: 15em;
}

