.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    background-color: rgb(92, 175, 24);

    height: 70em;
    width: 100vw;
}

.father{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
   
    background-color: rgb(177, 243, 123);

    height: 60vh;
    width: 90vw;

    border-color: black;
    border-style: solid;
    border-radius: 1em;
}
.row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   
    background-color: rgb(177, 243, 123);

    height: 10vh;
    width: 40vw;

}
.row2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   
    background-color: rgb(177, 243, 123);

    height: 6vh;
    width: 40vw;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6vh;
    width: 15vw;
}
.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6vh;
    width: 15vw;
}

