.add-post-container {
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: rgba(240, 248, 255, 0.122);
  width: 30vw;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.49);
  box-shadow: 5px 5px 15px 5px rgba(93, 89, 89, 0.49);
}
