.designLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../img/jungle.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 38em;
   

    height: 70vh;
    width: 100vw;
}